[gitlab-ssh]
enabled = true
port = 22
logpath = {{ __log_path }}
maxretry = 2
# The amount of time that a host is banned for
bantime = 1h
# incremental banning:
bantime.increment = true
# default factor (causes increment - 1h -> 1d 2d 4d 8d 16d 32d ...):
bantime.factor = 24
# max banning time = 5 week:
bantime.maxtime = 5w
banaction = iptables-multiport
            slack-notify