# Configure the ssh jail
[sshd]

# Enable the jail
enabled = true

# The port that the SSH daemon listens on
port = {{ __ssh_port }}

# Use iptables to ban hosts that exceed the maxretry limit
action = iptables-multiport

# The log file that fail2ban should monitor for login attempts
logpath = /var/log/auth.log

# The maximum number of login attempts that are allowed before a host is banned
maxretry = 3

# The amount of time that a host is banned for
bantime = 600
