---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: awx
    app.kubernetes.io/managed-by: awx-operator
    app.kubernetes.io/name: awx
    app.kubernetes.io/part-of: awx
  name: awx-service-custom
  namespace: {{ env_vars.namespace }}
spec:
  ports:
    - name: http
      nodePort: {{ env_vars.nodeport }}
      port: 80
      protocol: TCP
      targetPort: 8052
  selector:
    app.kubernetes.io/component: awx
    app.kubernetes.io/managed-by: awx-operator
    app.kubernetes.io/name: awx
  sessionAffinity: None
  type: NodePort