apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: static-data-pvc
    namespace: {{ env_vars.namespace }}
spec:
    accessModes:
    - ReadWriteOnce
    storageClassName: local-path
    resources:
        requests:
            storage: 5Gi